#colour {
  font-family: "Perpetua";
  opacity: 0.3;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 100px;
}

p {
  font-size: 24px;
  font-family: "Perpetua";
  opacity: 0.5;
  position: absolute;
  bottom: 0px;
  right: 25%;
  left: 50%;
  margin-left: -150px;
}
